/****** PRPRIÉTÉS DE BASE ******/
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    /*** Poppins ***/
}

h1 {
    /**** Montserrat ***/
    font-family: 'Montserrat';
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
    color: #8daa91;
}

h3{
    font-size: 1.2rem;
}

p {
    font-size: 2.2vh;
}

a {
    text-decoration: none;
    color: white;
}

/** Petite section avec effet de fond en paralax que je dispose dans mes différentes pages, 
je peux changer l'image de fond grâce aux classes se trouvant dans mon css dans header 
(.visit_background .story_background, .patrimoine_background) */
.transition {
    margin-top: 10vh;
    height: 20vh;
    position: relative;
    background: #8daa91 url('../img/photos_chateau/chateau_transition.webp') no-repeat center / cover;
    background-attachment: fixed;
}

* {
    transition: all 0.25s ease-in-out;
}

/***** BOUTONS *****/

/***** BOUTONS *****/

button {
    padding: 2.5vh;
    border: none;
    border-radius: 25px;
    color: white;
    font-size: 1.5vw;
    cursor: pointer;
}

button.primary,
button.secondary,
button.third {
    font-size: 0.9em;
    transition: transform 0.25s ease;
}

button.primary {
    background-color: #d16d4e;
}

button.primary:hover {
    background-color: #8daa91;
    transform: scale(1.05, 1.05);
}

button.secondary {
    background-color: #8daa91;
    padding: 2.25vh;
}

button.secondary:hover {
    background-color: #d16d4e;
    transform: scale(1.05, 1.05);
}

button.third {
    background-color: #d16d4e;
    padding: 2vh;
}

button.third:hover {
    background-color: #8daa91;
    transform: scaleX(1.01);
}

/******* NAVBAR *******/
nav {
    /** Flexbox avec les éléments espacés les uns des autres, centré **/
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    z-index: 2; /** /*** z-index = équivalent de calque, ici pour être sûr que la barre de navigation se place bien au dessus du header **/
    position: fixed;
    max-width: 100%;
    width: 100%;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    background: rgba(0, 0, 0, 0.2);
    height: 12vh;
    font-size: 1.5vh;
}



nav img {
    width: 23vh;
}


nav>div {
    /* Flexbox centrée, avec des tailles équitable pour chaque div (flex: 1 équivalent de flex-grow */
    flex: 1;
    display: flex;
    justify-content: center;
}

nav>div ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin-left:180px;
}

.nav-links li {
    margin: 0 10px;
}

nav a:hover {
    color: #ecf0f1;
}

/******* MENU BURGER POUR TÉLÉPHONES *******/

#hamburger {
    display: none; /** L'état de base est invisible, je le rend visible plus tard ave les media queries*/
}

#hamburger-label {
    display: none;
    /* Invisible pour pouvoir l'afficher sur les petits écrans */
    color: #ecf0f1;
    font-size: 4.25vh;
    padding: 10px;
    position: relative; /* La position de mon bouton hambuger est relative à la barre de navigation */
    z-index: 3;
    /* pour que mon burger soit au dessus des autres éléments (header < nav < hamburger) en haut de ma page */
    max-width: 100%;
}

@media (max-width: 768px) {
    #hamburger-label {
        display: block;
        position: absolute;
        right: 20%;
    }

    nav>div {
        display: none;
        position: absolute;
        top: 18vh;
        left: 0;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background: rgba(0, 0, 0, 0.1);
        font-size: 2vh;
        margin: 0;
        padding: 0;
    }

    #hamburger:checked+#hamburger-label+img+div {
        display: flex;
    }
}

/**** HEADER *****/
.visit_background {
    /** Pour changer le fond selon la page **/
    background-image: url("../img/header/background_visit.webp");
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.35) 0px180px 186px58px inset; /** Ombre interne en bas du header, pour que le texte en blanc soit mieux visible, en noir avec 35% d'opacité **/
}

.story_background {
    /** Pour changer le fond selon la page **/
    background-image: url("../img/header/background_story.webp");
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.35) 0px180px 186px58px inset; /** Ombre interne en bas du header, pour que le texte en blanc soit mieux visible, en noir avec 35% d'opacité **/
}

.patrimoine_background{
    background-image: url("../img/header/background_patrimoine.webp");
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.35) 0px180px 186px58px inset; /** Ombre interne en bas du header, pour que le texte en blanc soit mieux visible, en noir avec 35% d'opacité**/
}




header {
    z-index: 1;
    /*** z-index = équivalent de calque, en l'occurence mon header passe en dessous de la barre de navigation **/
    max-width: 100%;
    width: 100%;
    height: 100vh;
    /*** L'utilisation de / pour center / cover permet de concatainer des instruction dans une seule et même ligne, cela m'évite de faire une autre ligne pour faire background-size: cover; ***/
    background: url("../img/header/background_index.webp") no-repeat center / cover;
    box-shadow: rgba(0, 0, 0, 0.35) 0px180px 186px58px inset;
    /*** Trouvé sur W3School : Ombre intérieur du bas vers le haut avec 35% d'opacité dans le header pour que le texte sur l'image de fond de header soit lisible **/
}

header>div {
    /** placer en bas**/
    position: absolute;
    bottom: 0;
}

header>div>h1 {
    color: white;
    max-width: 100%;
    font-weight: bold;
    margin-left: 8vw;
    margin-bottom: 10vh;
}


/****** MAIN, DÉCOUVERTE DU CHÂTEAU *****/
.discoveringtransition {
    /**** Div de transition entre le header et la première section du main ****/
    display: flex;
    width: 100%;
    justify-content: center;
}

.discoveringtransition button {
    margin-top:3vh;
}

/** Pour toute structure avec une image à gauche et du texte à droite**/
.image-left-text-right {
    /** Flexbox centrée **/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
    margin: 0 auto; /** Me permet de centrer **/
    /** Centrer hrozontalement **/
    margin-top: 8vh;
}

.flex-left {
    /** Flexbox centrée **/
    width: 40%;
    display: flex;
    align-items: center;
}

.flex-right {
    width: 60%;
}

.image-left-text-right>.flex-left>img {
    max-width: 80%;
}

.reverse {
    flex-direction: row-reverse; /** Affiché en ligne mais inverser droite et gauche **/
}

.reverse img {
    margin-left: 10vh;
}

/** Responsive de la section **/
@media (max-width: 768px) {
    .image-left-text-right {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .image-left-text-right>div {
        width: 90%;
        text-align: center;
        justify-content: center;
    }
}


/**** ACCUEIL ****/
/** Section 2 Galerie de quelques images **/

#medieval {
    /** Flexbox en colonne **/
    width: 100%;
    margin-top: 15vh;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.galerie {
    /** Flexbox en ligne **/
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: center;
    flex-direction: row;
}

.galerie img {
    width: 45h;
    height: 35vh;
    padding: 1vh;
    margin: 3vh;
}

.galerie>div:hover img {
    transform: scale(1.1, 1.1);
    /** Faire un effet "zoom" de 1.1x quand on passe la souris sur une des images **/
    border-radius: 25px;
}


/**** LISTE DES ÉVÉNEMENTS */
#events {
    /** Flexbox en colonne, aligné au centre**/
    margin-top: 8vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

#events p {
    margin-top:2vh;
}

.cards {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    gap: 8vh; /** Permet un espacement entre chaque éléments dans cards **/
}

.cards .card {
    margin-top: 5vh;
    width: 45vh;
    border-radius: 20px 20px 20px 20px;
    box-shadow: #8daa91 1px 5px 5px;
    margin-top: 8vh;
    height: 60vh;
    /** Pour toutes les modifications que j'effectuerai avec un :hover par exemple, il y aura une petite transition de 0.25s entre la propriété par défaut et la nouvelle **/
}

.cards .card>img {
    max-width: 100%;
    max-height: 55%;
    height: 55%;
    width: 100%;
    object-fit: cover;
    /*** Faire en sorte d'adapter l'image à la taille de la card sans la déformer***/
}

.cards .card button {
    margin-top: 2vh;
}

.cards .card:hover {
    transform: scaleX(1.015);
    /*** Effet d'agrandissement sur la longueur quand on passe la souris sur une des cartes***/
    transform: scaleY(1.02);
    /***** Effet d'agrandissement sur la hauteur quand on passe la souris sur une des cartes***/
}

/**** Page histoire, "faq" ***/
#faq {
    /** Flexbox, en ligne, centré**/
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    flex-wrap: wrap;
}

#faq>.flex {
    width: 70%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.flex {
    display: flex;
}

#faq>.flex .flex-left {
    /** Flexbox en colonne, centré verticalement, à gauche**/
    width: 50%;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    position: sticky;
    /*** Pour faire en sorte que quand je défile vers le bas mon côté droit défile mais pas le côté gauche***/
    top: 40%;
    height: 100%;
}

#faq>.flex .flex-right {
    /** Flexbox en ligne, au centré, aligné verticalement au centre**/
    display: flex;
    width: 50%;
    margin-left: 10%;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

/*** FAQ RESPONSIVE ***/
/** Pour les téléphones**/
@media (max-width: 768pxpx) {
    #faq{
        width: 100%;
        flex-wrap: wrap;
    }
    #faq>.flex {
        width: 100%;
        
    }
    #faq>.flex .flex-left {
        position: initial;
    }
}

details {
    margin-top: 3vh;
    background-color: #ecf0f1;
    padding: 2vh;
    width: 100%;
    border-radius: 15px;
    text-align: center;

}

details:hover {
    cursor: pointer;
}

details summary {
    font-weight: bold;
}


/**** PAGE VISITER ****/
#rooms {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#rooms div {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 5vh;
}

#rooms img {
    max-width: 60vw;
}


#rooms p {
    max-width: 60vw;
}


.paralax {
    margin-top:4vh;
    background-image: url("../img/photos_chateau/montagnes.webp");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 40vh;
    /*** CLIP PATH DÉCOUVERT ET TROUVÉ SUR CODEPEN, permet de créer des formes, ici j'ai créé une div d'une certaine 
    taille minimum, j'y ai mit une image de fond et ai appliqué un "découpage" grâce au clip path css pour que ma div 
    prenne la forme d'une chaîne de montagne en partant d'une forme de polygon**/
    clip-path: polygon(
        0 100%, 0 60%, 
        3% 58%, 5% 55%, 7% 58%, 10% 65%, 13% 60%, 15% 50%, 18% 60%, 20% 70%, 
        23% 65%, 25% 55%, 28% 65%, 30% 75%, 33% 70%, 35% 60%, 38% 70%, 40% 80%, 
        43% 75%, 45% 55%, 48% 65%, 50% 70%, 53% 65%, 55% 50%, 58% 60%, 60% 75%, 
        63% 70%, 65% 60%, 68% 70%, 70% 85%, 73% 80%, 75% 55%, 78% 65%, 80% 70%, 
        83% 65%, 85% 50%, 88% 65%, 90% 80%, 93% 75%, 95% 60%, 97% 65%, 100% 100%
    );
}

#visit_information{
    background-color: #ecf0f1;
    padding-bottom: 8vh;
}

#visit_information .card{
    background-color: white;
    border-radius: 10px;
    max-height: 40vh;
}

#visit_information button{
    bottom: 0;
}

#visit_information .cards{
    gap: 5vh;
}


#contact{
    margin-top: 10vh;
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
}

#contact form fieldset{
    width: 25%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 0.25px solid black;
    border-radius: 25px;
    padding: 2vh;

}

#contact form input, textarea{
    margin-top: 2vh;
    border: 0.25px solid black;
    padding: 1vh;
    border-radius: 10px;
}

#contact form fieldset label{
    font-size: 0.8rem;
    text-align: start;
    margin-top: 1vh;
}

#contact form button{
    margin-top: 3vh;
}


/***** PAGE PATRIMOINE ****/
#patrimoine{
    width: 100%;
    text-align: center;
}

#patrimoine .cards{
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}
#patrimoine .card {
    box-shadow: none;
    text-align: start;
    min-width: 40%;

}
.paralaxbackground{
    background-attachment: fixed;
}
/******* FOOTER *******/
footer {
    margin-top: 10vh;
    background-color: black;
    color: #ecf0f1;
    display: flex;

    width: 100%;
    flex-direction: row;
}

footer li {
    list-style-type: none;
}

footer>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 33.33%;
    /***** Avoir 3 divs de même taille ****/
}

footer .decoration {
    /***** Chateau blanc au milieu deu footer***/
    max-width: 100%;
    margin-top:8vh;
}

footer .logo {
    width: 40%;
}

footer ul {
    margin: 0;
    padding: 0;
    margin-top: 2vh;
}

footer .socialmedia {
    /***** Icons instan tiktok.... *****/
    display: flex;
    flex-direction: row;
    text-align: center;
}

footer p{
    width: 70%;
}

footer>div * {
    max-width: 100%;
    /**** Pour que le contenu de chaque div ne prenne pas trop de place dans les divs elles-même****/
}

footer p,
li {
    font-size: 1.5vh;
    text-align: center;
}

footer .socialmedia>li {
    width: 20px;
    height: 20px;
    border-radius: 75px;
    background-color: #8daa91;
    margin: 10px;
}



/******* RESPONSIVE DU FOOTER *******/
@media (max-width: 768px) {
    footer>div:nth-child(2) {
        /*** cacher l'image au centre du footer quand je passe sur téléphone **/
        visibility: hidden;
        width: 0;
        height: 0;
    }

    footer {
        flex-direction: column;
    }

    footer > div{
        width: 100%;
    }
}