/****** PRPRIÉTÉS DE BASE ******/
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    /*** Poppins ***/
    max-width: 100%;
}

h1 {
    /**** Montserrat ***/
    font-family: 'Montserrat';
    font-size: 2.125rem;
}
h2{
    font-size:1.5rem;
}

p{
    font-size: 2.2vh;
}

    /***** BOUTONS *****/

button{
    padding: 2.5vh;
    border: none;
    border-radius: 25px;
    color: white;
}

.primary{ 
    background-color: #d16d4e;
    font-size: 0.8em;
}

.secondary{
    background-color: #8daa91;
    padding: 2.25vh;
    font-size: 0.6em;
}

/******* NAVBAR *******/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    z-index: 2;
    position: fixed;
    max-width: 100%;
    width: 100%;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    background: rgba(0, 0, 0, 0.2);
    height: 15vh;
    font-size: 1.5vh;
}

nav > img {
    width: 23vh;
}

nav > div {
    flex: 1;
    display: flex;
    justify-content: center;
}

nav > div ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin-left: -180px;
}

.nav-links li {
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: white;
}

    /******* MENU BURGER POUR TÉLÉPHONES *******/

#hamburger {
    display: none;
}

#hamburger-label {
    display: none; /* Invisible pour pouvoir l'afficher sur les petits écrans */
    color: #ecf0f1;
    font-size: 4.25vh;
    padding: 10px;
    position: relative;
    z-index: 3; /* pour que mon burger soit au dessus des autres éléments en haut de ma page */
    max-width: 100%;
}

@media (max-width: 768px) {
    #hamburger-label {
        display: block;
        position: absolute;
        right: 20%;
    }

    nav > div {
        display: none;
        position: absolute;
        top: 18vh;
        left: 0;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background: rgba(0, 0, 0, 0.1);
        font-size: 2vh;
        margin:0;
        padding: 0;
    }

    #hamburger:checked + #hamburger-label + img + div {
        display: flex;
    }
}
/******* HEADER *******/


header {
    z-index: 1;
    max-width: 100%;
    width: 100%;
    height: 100vh;
    background-image: url("../img/header_background.webp");
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -180px 186px -58px inset;
}

header > div {
    position: absolute;
    bottom: 0;
}

header > div > h1 {
    color: white;
    font-size: 4.25vh;
    font-weight: bold;
    margin-left: 8vh;
    margin-bottom: 10vh;
}



/****** MAIN, DÉCOUVERTE DU CHÂTEAU *****/
.discoveringtransition{ /**** Div de transition entre le header et la première section du main ****/
    display: flex;
    width: 100%;
    justify-content: center;
}

.discoveringtransition button{
    margin-top: -3vh;
}

/** Séction 1**/

#castleDiscovering {
    display: flex;
    justify-content: center;
    width: 70%;
    margin: 0 auto; /*** Centrer hrozontalement la section **/
    margin-top: 12vh;
}

#castleDiscovering > .flex-left{
    width: 40%;
    align-items: center;
    display: flex;
    align-items: center;
}

#castleDiscovering > .flex-right{
    width: 60%;
    max-width: 60%;
}

#castleDiscovering > .flex-left > img{
    max-width: 80%;
}

/** Section 2 **/





/******* FOOTER *******/
footer{
    background-color: black;
    color: #ecf0f1;
    display: flex;
    flex-direction: row;
    max-width: 100%;
    width: 100%;
    justify-content: center;
}

footer li{
    list-style-type: none;
}

footer > div{ 
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

footer img{
    max-width: 100%;
    margin-top: -8vh;
}

footer ul{
    margin: 0;
    padding: 0;
}

footer .socialmedia{
    display: flex;
    flex-direction: row;
}
footer .socialmedia > li{
    width: 20px;
    height: 20px;
    border-radius: 75px;
    background-color: white;
    margin: 10px;
}

    /******* RESPONSIVE DU FOOTER *******/
@media (max-width: 768px) {
    footer > div:nth-child(2){
        visibility: hidden;
        width: 0;
        height: 0;
    }
    footer{
        flex-direction: column;
    }
}