/****** PRPRIÉTÉS DE BASE ******/
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins'; /*** Poppins ***/
}

h1{
    /**** Montserrat ***/
}

/******* NAVBAR *******/

nav{
    width: 90%;

    border: 1px solid black;
}

nav > ul{
    display: flex;
    flex-direction: row;
    align-items: center;
}

li{
    list-style-type: none;
    text-decoration: none;
}

li > img{
    width: 30%;
}
